.grid { 
	border-collapse:collapse;

}
table{
    border:1px solid #ccc;
	width:350px;
	overflow: hidden;
	height: 350px;
	margin: 0 auto;
}
.grid td {
	background-color: white; 
    cursor:pointer;
    border: 0px transparent;
  	width: 10px;
  	height: 10px;
}

#wrapper{
	margin: 0 auto;
	width:700px;
	height: 400px;
}
#clear{
	right: 250px;
	top: 250px;
	position: absolute;
	cursor: pointer;
	width: 100px;
	height: 40px;
	background-color: black;
	color: white;
	border: 1px transparent;
}
#colors{
	margin-top: 70px;
	margin-left: 100px;
	float: left;
}
#red{
	width:50px;
	height: 50px;
	border-radius: 100%;
	background-color: red;
	margin-bottom: 20px;

}
#blue{
	width:50px;
	height: 50px;
	border-radius: 100%;
	background-color: blue;
	margin-bottom: 20px;

}
#green{
	width:50px;
	height: 50px;
	border-radius: 100%;
	margin-bottom: 20px;
	background-color: green;

}
.click{
	cursor: pointer;
}